/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {

    from {
      left: -15px;
    }
  
    to {
      left: -11px;
    }
  }
  
  @keyframes heart-scale {
  
    0% {
      scale: 1;
    }
  
    100% {
      scale: 1.15;
    }
  }
  
  @keyframes sparks {
  
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .sparks {
    opacity: 0;
  }
  
  .core {
    transition: 0.3s;
  }
  
  .contour {
    transition: 0.3s 0.06s;
  }
  
  .main-body {
    transition: 0.3s 0.05s;
  }
  
  .like-icon:hover .core {
    transition-delay: 0.03s;
    --heart-core-color: var(--accent-color);
  }
  
  .like-icon:hover .main-body {
    --heart-main-body-color: var(--accent-color);
  }
  
  .like-icon:active .core {
    transition-delay: 0.03s;
    --heart-core-color: #f00;
  }
  
  .like-icon:active .main-body {
    --heart-main-body-color: #f00;
  }
  
  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: heart-scale 0.3s 0.1s ease-in alternate;
  }
  
  .like-icon.is-liked .core {
    transition: 0.3s;
    --heart-core-color: #f00;
  }
  
  .like-icon.is-liked .main-body {
    transition: 0.3s 0.05s;
    --heart-main-body-color: #f00;
  }
  
  .like-icon.is-liked .contour {
    transition: fill 0.1s;
    --heart-contour-color: #f00;
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in alternate;
  }